---
import Section from "./Section.astro";
---

<Section id="about" label="About me">
  <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"><h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Sobre mi</h2></div>
  <div>

    <p class="mb-4">
      En 2005, me sumergí en la programación web con 
      <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">HTML</a>, 
      <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">CSS</a>, 
      <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">JavaScript</a> y 
      <a href="https://www.php.net/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">PHP</a>, además de trabajar con bases de datos como 
      <a href="https://www.mysql.com/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">MySQL</a> y 
      <a href="https://www.mongodb.com/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">MongoDB</a>. Luego, en 2013, exploré 
      <a href="https://nodejs.org/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">Node.js</a>, adentrándome en sus frameworks, incluyendo 
      <a href="https://www.typescriptlang.org/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">TypeScript</a> para mejorar la calidad del código, una travesía que persiste hasta hoy.
    <p>

    <p class="mb-4">
      Apasionado por la seguridad web. Especializado en identificar y corregir vulnerabilidades.
    </p>

    <p class="mb-4">
      En mi carrera, he trabajado con tecnologías como 
      <a href="https://angular.io/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">Angular</a>, 
      <a href="https://ionicframework.com/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">Ionic</a>, 
      <a href="https://nuxt.com/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">Nuxt</a>, 
      <a href="https://astro.build/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">Astro</a>, 
      <a href="https://nextjs.org/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">NextJS</a>,
      <a href="https://nestjs.com/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">NestJS</a> y 
      <a href="https://symfony.com/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">Symfony</a>, ampliando mis habilidades Full Stack.
    </p>      

    <p class="mb-4">
      En mi tiempo libre, me dedico al fisioculturismo y disfruto sumergiéndome en el mundo de 
      <a href="https://baldursgate3.game/" target="_blank" class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">Baldur's Gate</a>.
    </p>

  </div>
</Section>