---
import LinkInline from "./LinkInline.astro";
import Section from "./Section.astro";
import FadeInSection from './FadeInSection.tsx'
---
<FadeInSection client:only>
  <Section id="about" label="About me">
    <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"><h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Sobre mi</h2></div>
    <div>

      <p class="mb-4">
        En 2005, me sumergí en la programación web con 
        <LinkInline url="https://developer.mozilla.org/es/docs/Web/HTML" title="HTML" />
        <LinkInline url="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank" title="CSS"/>, 
        <LinkInline url="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank" title="JavaScript"/> y 
        <LinkInline url="https://www.php.net/" target="_blank" title="PHP"/>, además de trabajar con bases de datos como 
        <LinkInline url="https://www.mysql.com/" target="_blank" title="MySQL"/> y 
        <LinkInline url="https://www.mongodb.com/" target="_blank" title="MongoDB"/>. Luego, en 2013, exploré 
        <LinkInline url="https://nodejs.org/" target="_blank" title="Node.js"/>, adentrándome en sus frameworks, incluyendo 
        <LinkInline url="https://www.typescriptlang.org/" target="_blank" title="TypeScript"/> para mejorar la calidad del código, una travesía que persiste hasta hoy.
      <p>

      <p class="mb-4">
        Apasionado por la seguridad web. Especializado en identificar y corregir vulnerabilidades.
      </p>

      <p class="mb-4">
        En mi carrera, he trabajado con tecnologías como 
        <LinkInline url="https://angular.io/" target="_blank" title="Angular"/>, 
        <LinkInline url="https://ionicframework.com/" target="_blank" title="Ionic"/>, 
        <LinkInline url="https://nuxt.com/" target="_blank" title="Nuxt"/>, 
        <LinkInline url="https://astro.build/" target="_blank" title="Astro"/>, 
        <LinkInline url="https://nextjs.org/" target="_blank" title="NextJS"/>, 
        <LinkInline url="https://nestjs.com/" target="_blank" title="NestJS"/> y 
        <LinkInline url="https://symfony.com/" target="_blank" title="Symfony"/> ampliando mis habilidades Full Stack.
      </p>      

      <p class="mb-4">
        En mi tiempo libre, me dedico al fisioculturismo y disfruto sumergiéndome en el mundo de 
        <LinkInline url="https://baldursgate3.game/" target="_blank" title="Baldur's Gate"/>.
      </p>

    </div>
  </Section>
</FadeInSection>