---

import { Image } from 'astro:assets';
import github from './../assets/github.svg'
import linkedin from './../assets/linkedin.svg'

const socials = [
   {
      url: 'https://github.com/WEAHub/',
      name: 'GitHub',
      image: github
   },
   {
      url: 'https://www.linkedin.com/in/ruiz-dev/',
      name: 'LinkedIn',
      image: linkedin
   },
]
---

<ul class="ml-1 mt-8 flex items-center" aria-label="Social media">
   {
      socials.map(({url, name, image}) => (
         <li class="mr-5 text-xs">
            <a 
               class="block hover:text-slate-200" 
               href={url} 
               target="_blank" 
               rel="noreferrer noopener" 
               aria-label={name}
            >
               <span class="sr-only">GitHub</span>
               <Image src={image} alt={name}/>
            </a>
         </li>
      ))
   }
</ul>